<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.music.Mapper.MusicHotRankMapper">
    <insert id="insertVote">
        insert into vote_record  (rank_id,vote_time,user_id)
        values (#{rankId},now(),#{userId})
    </insert>
    <insert id="insertLove">
        insert into love_record(user_id,rank_id,love_time)
        values (#{userId},#{rankId},now())
    </insert>

    <select id="listByIds" resultMap="MyRankWithSongResultMap">
<!--创建该查询榜单方法时，传入的对象是主键id——rankId组成的集合，所以采用foreach循环实时更新id去查询回显热门榜单-->
        select a.rank_name,a.rank_id,a.publish_time,a.user_id,u.username,a.love_count,a.vote_count,
               b.rs_id,b.song_id,b.ranking,b.rank_update_time,s.song_name,si.singer_name from (select p.rank_id,
               p.rank_name,p.publish_time,p.user_id,coalesce(v.total_vote,0) as vote_count,coalesce(l.total_love,0) as love_count
               from personal_rank as p
              left join (select rank_id,count(*)  total_vote from vote_record group by rank_id) as v  on p.rank_id = v.rank_id
               left join (select rank_id,count(*) total_love from love_record group by rank_id) as l on l.rank_id=p.rank_id
                where p.rank_id in
        <foreach collection="rankId" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
         <!--上方foreach循环指定rankId范围，是redis中用resever方法查询的start和end索引区间内的rankId
         下方让mysql按照索引范围内的由热度高低顺序进行排序-->
         <!--豆包又教我学新知识····，field（）函数作用：返回指定字段在列表中的索引，比如列表（2，1，3，5），则1的索引就是2-->
           order by field(p.rank_id,
        <foreach collection="rankId" item="id"  separator=",">
            #{id}
        </foreach>)) as a
        <!--不用加上order by语句，redis的Zset已经通过分数进行合理排序-->
        <!--一个榜单对应了多个歌曲，导致love_count和vote_count会产生那个笛卡尔积？何意味？-->
               left join rank_song as b on b.rank_id=a.rank_id
               left join user as u on u.user_id=a.user_id
               left join song as s on s.song_id=b.song_id
               left join singer as si on si.singer_id=s.singer_id
               order by b.ranking asc
        <!--最后不要忘记是按照歌曲排名组成的榜单-->
    </select>
    <resultMap id="MyRankWithSongResultMap" type="com.music.dto.MyRankWithSong">
        <id property="rankId" column="rank_id"/>
        <result property="rankName" column="rank_name"/>
        <result property="voteCount" column="vote_count"/>
        <result property="loveCount" column="love_count"/>
        <result property="username" column="username"/>
        <result property="publishTime" column="publish_time"/>
        <collection property="rankSongList" ofType="com.music.pojo.RankSong" >
            <id property="rsId" column="rs_id"/>
            <result property="rankId" column="rank_id"/>
            <result property="songId" column="song_id"/>
            <result property="songName" column="song_name"/>
            <result property="singerName" column="singer_name"/>
            <result property="ranking" column="ranking"/>
            <result property="rankUpdateTime" column="rank_update_time"/>
        </collection>
    </resultMap>
    <select id="CountVote" resultType="java.lang.Long">
        select count(*) from vote_record where rank_id=#{rankId} group by rank_id;
    </select>
    <select id="CountLove" resultType="java.lang.Long">
        select count(*) from love_record where rank_id=#{rankId} group by rank_id;
    </select>
    <select id="selectCommentById" resultType="com.music.pojo.Comment">
        select * from comment where com_id=#{comId}
    </select>
    <select id="selectComment" resultMap="CommentVoResultMap">
        select distinct c.com_id,c.rank_id,c.user_id,c.parent_id,u.username,pu.username as parent_username,
                        c.comment_content,c.comment_time,ifnull(cl.like_count,0) as like_count,
                        case when cl2.user_id is not null then 1 else 0 end as is_liked
        from comment as c left join (select com_id,count(*) as like_count from like_comment group by com_id )
            as cl on c.com_id=cl.com_id
                          left join like_comment as cl2 on cl2.com_id=c.com_id and cl2.user_id=#{userId}
                          left join user as u on c.user_id = u.user_id
                          left join personal_rank p on p.rank_id=c.rank_id
                          left join comment pc on pc.parent_id=c.com_id
                          left join user pu on pu.user_id=pc.user_id
        where c.rank_id=#{rankId} and c.id_delete=0
        order by c.comment_time desc
        limit 50
    </select>
    <resultMap id="CommentVoResultMap" type="com.music.dto.CommentVo">
        <id property="comId" column="com_id"/>
        <result property="rankId" column="rank_id"/>
        <result property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="comContent" column="comment_content"/>
        <result property="comTime" column="comment_time"/>
        <result property="parentId" column="parent_id"/>
        <result property="likeCount" column="like_count"/>
        <result property="isLiked" column="is_liked"/>
        <result property="parentUsername" column="parent_username"/>
    </resultMap>
</mapper>