<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.music.Mapper.MusicHotRankMapper">
    <insert id="insertVote">
        insert into vote_record  (rank_id,vote_time,user_id)
        values (#{rankId},now(),#{userId})
    </insert>
    <insert id="insertLove">
        insert into love_record(user_id,rank_id,love_time)
        values (#{userId},#{rankId},now())
    </insert>
    <insert id="insertLike">
        insert into like_comment(user_id,com_id) values (#{userId},#{comId})
    </insert>

    <select id="listByIds" resultMap="MyRankWithSongResultMap">
<!--创建该查询榜单方法时，传入的对象是主键id——rankId组成的集合，所以采用foreach循环实时更新id去查询回显热门榜单-->
        SELECT
        a.rank_name, a.rank_id, a.publish_time, a.user_id, u.username,
        a.love_count,
        b.rs_id, b.song_id, b.ranking, b.rank_update_time, s.song_name, si.singer_name
        FROM (
        SELECT rank_id, rank_name, publish_time, user_id, love_count
        FROM personal_rank

        WHERE rank_id IN
        <foreach collection="rankId" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        ) as a

        LEFT JOIN user u ON u.user_id = a.user_id
        LEFT JOIN rank_song as b ON b.rank_id = a.rank_id
        LEFT JOIN song as s ON s.song_id = b.song_id
        LEFT JOIN singer as si ON si.singer_id = s.singer_id
        ORDER BY
        field(a.rank_id,
        <foreach collection="rankId" item="id" separator=",">
            #{id}
        </foreach>
        ),
        b.ranking ASC

    </select>

    <resultMap id="MyRankWithSongResultMap" type="com.music.dto.MyRankWithSong">
        <id property="rankId" column="rank_id"/>
        <result property="rankName" column="rank_name"/>
        <result property="voteCount" column="vote_count"/>
        <result property="loveCount" column="love_count"/>
        <result property="username" column="username"/>
        <result property="publishTime" column="publish_time"/>
        <collection property="rankSongList" ofType="com.music.pojo.RankSong" >
            <id property="rsId" column="rs_id"/>
            <result property="rankId" column="rank_id"/>
            <result property="songId" column="song_id"/>
            <result property="songName" column="song_name"/>
            <result property="singerName" column="singer_name"/>
            <result property="ranking" column="ranking"/>
            <result property="rankUpdateTime" column="rank_update_time"/>
        </collection>
    </resultMap>
    <select id="CountVote" resultType="java.lang.Integer">
        select count(*) from vote_record where rank_id=#{rankId} group by rank_id;
    </select>
    <select id="CountLove" resultType="java.lang.Integer">
        select count(*) from love_record where rank_id=#{rankId} group by rank_id;
    </select>
    <select id="selectCommentById" resultType="com.music.pojo.Comment">
        select * from comment where com_id=#{comId}
    </select>
    <select id="selectComment" resultMap="CommentVoResultMap">
        select distinct c.com_id,c.rank_id,c.user_id,c.parent_id,u.username,pu.username as parent_username,
                        c.comment_content,c.comment_time,ifnull(cl.like_count,0) as like_count,
                        case when cl2.user_id is not null then 1 else 0 end as is_liked
        from comment as c left join (select com_id,count(*) as like_count from like_comment group by com_id )
            as cl on c.com_id=cl.com_id
                          left join like_comment as cl2 on cl2.com_id=c.com_id and cl2.user_id=#{userId}
                          left join user as u on c.user_id = u.user_id
                          left join personal_rank p on p.rank_id=c.rank_id
                          left join comment pc on pc.parent_id=c.com_id
                          left join user pu on pu.user_id=pc.user_id
        where c.rank_id=#{rankId} and c.id_delete=0
        order by c.comment_time desc
        limit 50
    </select>
    <resultMap id="CommentVoResultMap" type="com.music.dto.CommentVo">
        <id property="comId" column="com_id"/>
        <result property="rankId" column="rank_id"/>
        <result property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="comContent" column="comment_content"/>
        <result property="comTime" column="comment_time"/>
        <result property="parentId" column="parent_id"/>
        <result property="likeCount" column="like_count"/>
        <result property="isLiked" column="is_liked"/>
        <result property="parentUsername" column="parent_username"/>
    </resultMap>
</mapper>