<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 核心：namespace必须等于UserMapper接口的全限定类名（包名+接口名） -->
<mapper namespace="com.music.Mapper.MyRankMapper">


    <select id="selectMyRank" resultMap="MyRankWithSongsResultMap">
        select a.rank_id,a.rank_name,a.total_vote as vote_count,a.total_love as love_count,a.publish_time,
               b.rs_id,b.song_id,b.ranking,b.rank_update_time,c.song_name
        from (select p.rank_id,p.rank_name,ifnull(sum(v.vote),0) as total_vote,p.publish_time,
              ifnull(sum(l.love),0) as total_love from personal_rank as p
        left join vote_record as v on v.rank_id=p.rank_id
        left join  love_record as l on l.rank_id=p.rank_id
        where p.user_id=#{userId}
        group by p.rank_id, p.rank_name, p.publish_time
        order by publish_time asc
        limit #{pageSize} offset #{offset}) a
        left join rank_song as b on a.rank_id = b.rank_id
        left join song as c on c.song_id=b.song_id
        order by b.rank_update_time asc, b.ranking asc
    </select>

    <!-- 定义结果映射，把联表查询的结果映射到VO对象 -->
    <resultMap id="MyRankWithSongsResultMap" type="com.music.dto.MyRankWithSong">
        <id property="rankId" column="rank_id"/>
        <result property="rankName" column="rank_name"/>
        <result property="voteCount" column="vote_count"/>
        <result property="loveCount" column="love_count"/>
        <result property="publishTime" column="publish_time"/>
        <!-- 子查询映射：把同一个榜单下的歌曲映射到songList列表 -->
        <collection property="rankSongList" ofType="com.music.pojo.RankSong">
            <id property="rsId" column="rs_id"/>
            <result property="songId" column="song_id"/>
            <result property="songName" column="song_name"/>
            <result property="ranking" column="ranking"/>
            <result property="rankUpdateTime" column="rank_update_time"/>
        </collection>
    </resultMap>
    <select id="getRank" resultType="com.music.dto.MyRankWithSong">
         select a.rank_id,a.rank_name,b.rs_id,b.song_id,b.ranking,b.rank_update_time
         ,c.song_name from personal_rank as a left join rank_song as b
         on a.rank_id = b.rank_id
         left join song as c on b.song_id = c.song_id
         where a.rank_id=#{rankId}
    </select>

    <resultMap id="MyRankWithSongResultMap" type="com.music.dto.MyRankWithSong">
        <id property="rankId" column="rank_id"/>
        <result property="rankName" column="rank_name"/>
        <!-- 子查询映射：把同一个榜单下的歌曲映射到songList列表 -->
        <collection property="rankSongList" ofType="com.music.pojo.RankSong">
            <id property="rsId" column="rs_id"/>
            <result property="songId" column="song_id"/>
            <result property="songName" column="song_name"/>
            <result property="ranking" column="ranking"/>
            <result property="rankUpdateTime" column="rank_update_time"/>
        </collection>
    </resultMap>
    <select id="selectSinger" resultType="com.music.pojo.Singer">
        select singer_id,singer_name from singer where category_id=#{categoryId} and singer_status=1
    </select>
    <select id="selectSong" resultType="com.music.pojo.Song">
        select song_id,song.song_name from song where singer_id=#{singerId} and song_status=1
    </select>
    <insert id="insertNewRank">
        insert into rank_song(rank_id,song_id,ranking,rank_update_time)
        values
            <foreach collection="list" item="item" separator=",">
                (#{item.rankId},#{item.songId},#{item.ranking},now())
            </foreach>
    </insert>

</mapper>